.nav ul li{
	color: #F2F2F2;
	display: inline-block;
	list-style: none;
	text-shadow: 0 -1px 0px #000;
}

.subscribe-button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
	vertical-align: top;
    height: 38px;
    padding: 0 20px;
    color: #111 !important; /* Overides `.nav a:link, .nav a:visited` colour */
    text-align: center;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 35px;
    border-radius: 3px;
    background: #fff;
    transition: all ease 0.3s;
	width: 120px;
}
.subscribe-button:before { font-size: 9px; margin-right: 6px; }

.cover:before {
	background-size: cover;
	content: '';
	filter: blur(25px);
	width: 100%;
}

.cover .image {
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto;
	height: 38vh;
	min-width: 600px;
}